/.vscode
/AI.py
/AI_1.py
/Helloworld.py
/Trump-s-tweets.py
/archive.zip
/biden.csv
/bitcoinprice_prediction.ipynb
/brain.py
/checkout_bot.py
/code in 100 days
/data source
/election.ipynb
/geckodriver.log
/kujirawebapi.py
/predictinguspresident.py
/pricescaper.py
/reemcode bot
/speech.py
/test.py
/trump.csv